apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: moderation-mongodb-pvc
  namespace: microservices-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: v1
kind: Service
metadata:
  name: moderation-mongodb
  namespace: microservices-app
spec:
  type: ClusterIP
  ports:
    - name: mongo
      port: 27017
      targetPort: 27017
  selector:
    app: moderation-mongodb

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: moderation-mongodb
  namespace: microservices-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: moderation-mongodb
  template:
    metadata:
      labels:
        app: moderation-mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:4.4
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: moderation-mongodb-secret
                  key: username
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: moderation-mongodb-secret
                  key: password
            - name: MONGO_INITDB_DATABASE
              value: moderation_db
          volumeMounts:
            - name: moderation-mongodb-storage
              mountPath: /data/db
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: moderation-mongodb-storage
          persistentVolumeClaim:
            claimName: moderation-mongodb-pvc
